<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Criar Tarefa</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form method="post" #frm="ngForm" (ngSubmit)="criar(frm)">
    <div class="modal-body">
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" name="titulo" class="form-control" placeholder="Titulo" [(ngModel)]="task.titulo"
                required />
        </div>

        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea type="text" name="descricao" class="form-control" id="descricao" placeholder="Descrição"
                [(ngModel)]="task.descricao" rows="3"></textarea>

        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="frm.invalid">Salvar</button>
    </div>
</form>